.main-nav {
    background-color: #8B89B1;
    
    &__list {
        margin: 0;
        padding: 0;
        background-color: #8B89B1;
        list-style-type: none;
        display: flex;
        // align-self: center;
        flex-direction: column;
        transition: all ;
        transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
        transition-delay: 100ms;
    

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__item {
        text-align: center;
    }

    &__link {
        display: block;
        background-color: #8B89B1;
        padding: 1em .7em;
        color: #fff;
        // font-size: 1.2em;
        text-decoration: none;
        
        
        &:hover,
        &:focus {
            color: #E5E5E5;
            outline: none;
        }

        @media (min-width: 1024px) {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}