.main-footer {
    background-color: #8B89B1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    font-size: 0.9em;
    width: 100%;
    text-align: left;
    padding: 20px 0px;
    margin-top: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 100%;


    @media (min-width: 768px) {
        font-size: 1em;
        padding: 20px 5px;
    }

    &__left,
    &__center,
    &__right {
        display: block;
        width: 100%;
        text-align: center;

        @media (min-width: 768px) {
            display: inline-block;
            vertical-align: top;
        }
    }

    &__left {
        @media (min-width: 768px) {
            width: 40%;
        }
    }

    &__company {
        text-shadow: 6px 6px 0px rgb(0 0 0 / 20%);
        font-size: 2em;

        &::before {
            content: "";
            display: inline-block;
            background-image: url('../../img/elemental/logo.png');
            background-repeat: no-repeat;
            background-size: 10px 20px;
            transform: scale(5, 2.5) translateX(-5px);
            width: 10px;
            height: 20px;
        }
    }

    &__company-copyright {
        color: #e5e5e5;
        font-size: 0.8em;
        font-weight: normal;
    }

    &__company &__company-span {
        color: #eb9ab3;
        text-shadow: 0 2px 1px #b7788c,
            -1px 3px 1px #835664,
            -2px 5px 1px #4f343d;
        display: block;
        font-family: "Ms Madi", cursive;
    }

    &__links-container {
        margin: 20px 0 12px;
        padding: 0;
    }

    &__link {
        display: inline-block;
        line-height: 1.8;
        font-weight: 400;
        text-decoration: none;
        color: inherit;

        &--first::before {
            content: none;
        }

        &::before {
            content: "|";
            font-weight: 300;
            font-size: 1.2em;
            left: 0;
            display: inline-block;
            padding-right: 5px;
        }

        &:hover {
            color: #e5e5e5;
        }
    }

    &__center {

        @media (min-width: 768px) {
            width: 35%;
            text-align: left;

            & i {
                margin-left: 0;
            }
        }
    }

    &__center &__i {
        background-color: #6CA3D8;
        font-size: 1.5em;
        width: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;

        &:hover {
            background-color: #527ca4;
            color: #e5e5e5;
        }

        &--envelope {
            font-size: 1.4em;
            line-height: 38px;
        }
    }

    &__center-paragraph {
        display: inline-block;
        font-weight: 400;
        vertical-align: middle;
        margin: 0;
    }

    &__center-link {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #e5e5e5;
        }
    }

    &__center-span {
        display: block;
        font-weight: normal;
        font-size: 1em;
        line-height: 2;
    }

    &__right {
        @media (min-width: 768px) {
            width: 20%;
        }
    }

    &__company-about {
        line-height: 20px;
        color: #e5e5e5;
        font-size: 0.8em;
        margin: 0 16px 20px;
        font-weight: normal;

        &-span {
            display: block;
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    &__icons-container {
        margin-top: 25px;
    }

    &__right &__icon {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #6CA3D8;
        border-radius: 2px;
        font-size: 1.2em;
        color: #e5e5e5;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;

        &:hover {
            transition: all 0.3s ease-in-out;
            transform: scale(1.1);
            background-color: #527ca4;
        }
    }
}