.main-header {
    display: flex;
    flex-wrap: wrap;
    color: #E5E5E5;
    // position: fixed;
    font-family: 'Poppins', sans-serif;


    &__logo-container {
        display: flex;
        background-color: #8B89B1;
        // padding: 1.4em;
        flex-basis: 30%;
        // background-image: url('../../img/logo.png');

        @media (min-width: 768px) {
            flex-basis: 15%;
        }
    }

    &__logo-img {
        width: 70%;
    }

    &__search-form-container {
        background-color: #8B89B1;
        display: flex;
        padding: 1.4em;
        flex-grow: 1;

        @media (min-width: 768px) {
            order: 2;
            flex-basis: 15em;
            flex-grow: 0;
            flex-shrink: 1;
        }
    }

    &__cart-button-container {
        background-color: #8B89B1;
        padding: 2px;
        display: flex;
        flex-grow: 1;
        
        @media (min-width: 768px) {
            order: 3;
        }
    }

    &__hamburger-button-container {
        background-color: #8B89B1;
        padding: 1em;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__cart {
        align-self: center;
        justify-self: center;
        color: #fff;
    }

    &__main-nav-container {
        background-color: #8B89B1;
        flex-basis: 100%;
        display: none;
        flex-grow: 1;

        @media (min-width: 768px) {
            flex-basis: auto;
            order: 1;
            display: block;
        }
    }
}