body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e5e5e5;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8b89b1;

    &:hover {
        background-color: #62617d;
    }
}

.cart__dropdown::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

.cart__dropdown::-webkit-scrollbar {
    width: 12px;
}


.cart__dropdown::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eb9ab3;

    &:hover {
        background-color: #b7788c;
    }
}
.main-header__search-section::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

.main-header__search-section::-webkit-scrollbar {
    width: 12px;
}


.main-header__search-section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eb9ab3;

    &:hover {
        background-color: #b7788c;
    }
}

.products-table-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
    margin: 16px;
}

.products-table-container::-webkit-scrollbar {
    height: 12px;
}

.products-table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eb9ab3;
    
    &:hover {
        background-color: #b7788c;
    }
}