.back-to-top-button {
    display: none; 
    position: fixed;
    bottom: 5px; 
    right: 75px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #eb9ab3; 
    color: white;
    cursor: pointer;
    padding: 10px; 
    border-radius: 5px; 

    &:hover {
        transform: translateY(-5px);
        background-color: #b7788c; 
        transition: transform 100ms;
        color: #e5e5e5;
    }

    &:active {
        transform: translateY(0px);
        transition: all 100ms;
    }
}