<section class="slider">
    <h2 class="slider__title">slider</h2>
    <button class="slider__arrow" id="slide-arrow-prev">
        <i class="fa-solid fa-caret-left"></i>
    </button>
    <button class="slider__arrow" id="slide-arrow-next">
        <i class="fa-solid fa-caret-right"></i>
    </button>
    <ul class="slider__container" id="slides-container">
        <li class="slider__slide">
            <img class="slider__img" src="img/carousel/banner_01.jpg" alt="Imagen del Carrusel 1">
        </li>
        <li class="slider__slide">
            <img class="slider__img" src="img/carousel/banner_02.jpg" alt="Imagen del Carrusel 2">
        </li>
        <li class="slider__slide">
            <img class="slider__img" src="img/carousel/banner_03.jpg" alt="Imagen del Carrusel 3">
        </li>
        <li class="slider__slide">
            <img class="slider__img" src="img/carousel/banner_02.jpg" alt="Imagen del Carrusel 4">
        </li>
    </ul>
</section>

<header class="section-cards__header">
    <h2 class="our-products">Nuestros Productos</h2>
</header>
<section class="section-cards">
    <div class="cards-container"></div>
</section>

<!-- <section class="section-cards">
    <header class="section-cards__header">
        <h2 class="our-products">¡Ofertas del mes!</h2>
    </header>
    <div class="cards-container"></div>
</section> -->