<div class="form-container form-container--block">
    <h2 class="form-container__title">Sobre mí</h2>
    <img src="#" alt="">
    <p class="form-container__text">Mi nombre es Jonathan Andueza y soy alumno de Full Stack Engineer, Piloto Privado de
        Avion y de Ingles.
        Este es mi primer e-commerce, a futuro espero mejorar ampliamente en mis conocimientos relacionados con
        la programación y el diseño web, ya que todavía soy bastante principiante.
    </p>
    <p>A continuación dejo mis redes de contacto:</p>
    <div class="socials-container">
        <a target="_blank" href="https://linkedin.com/in/jonathan-andueza-7bba69227" class="socials-container__link"><i
                class="fa-brands fa-linkedin"></i></a>
        <a target="_blank" href="https://github.com/LeJonnaah" class="socials-container__link"><i
                class="fa-brands fa-square-github"></i></a>
        <a target="_blank" href="mailto:jonathanandueza1201@gmail.com" class="socials-container__link"><i class="fa-solid fa-envelope"></i></a>
        <a target="_blank" href="https://wa.me/5491151243303" class="socials-container__link"><i class="fa-brands fa-square-whatsapp"></i></a>
    </div>
</div>