<div class="form-container">
    <form action="post" class="form-container__form">
        <h2 class="form-container__title">Contactanos</h2>
        <div class="form-container__separator"></div>
        <div class="group-container">
            <label class="group-container__label" for="name">Nombre</label>
            <input class="group-container__input" id="name" type="text">
            <label class="group-container__label" for="mail">E-mail</label>
            <input class="group-container__input" id="mail" type="email">
        </div>
        <div class="group-container">
            <label class="group-container__label group-container__label--left" for="comments">¡Dejanos tu
                comentario!</label>
            <textarea class="group-container__textarea" name="comments" id="comments" cols="30" rows="10"></textarea>
            <input type="submit" class="button button--mt20px">
        </div>
    </form>
</div>

<script src="js/form.js"></script>