<div class="form-container form-container--block">
            <h2 class="form-container__title">Sobre mí</h2>
            <img src="#" alt="">
            <h3 class="form-container__subtitle">Lorem 2</h3>
            <p>Mi nombre es Jonathan Andueza y soy alumno de Full Stack Engineer, Piloto Privado de Avion y de Ingles.
                Esta es mi primer e-commerce, a futuro espero mejorar ampliamente en mis conocimientos relacionados con
                la programación y el diseño web, ya que todavía soy bastante principiante. Quise dejar este apartado de
                la pagina para que conozcan un poco más sobre mi y mis intereses/metas personales.
            </p>
        </div>