.button {
    cursor: pointer;
    border: 1px solid #87B06D;
    padding: 14px 30px;
    border-radius: 200px;
    color: #fff;
    background: #A8C695;
    box-shadow: 0 6px 6px rgb(0 0 0 / 30%);
    font-size: 1em;
    transition: 200ms;
    align-self: flex-end;

    &:hover {
        background: #E5E5E5;
        color: #729F56;
    }

    &:active {
        background: #ccc;
        box-shadow: none;
    }

    &--delete {
        background: #E56972;
        border: 1px solid #B25158;
        padding: 10px 20px;
        font-size: 0.8em;

        &-table {
            background: #E56972;
            border: 1px solid #B25158;
            padding: 10px 15px;
            font-size: 0.8em;

            &:hover {
                background: #E5E5E5;
                color: #b25158;
            }

            &:active {
                background: #ccc;
                box-shadow: none;
            }
        }

        &:hover {
            background: #E5E5E5;
            color: #b25158;
        }

        &:active {
            background: #ccc;
            box-shadow: none;
        }
    }

    &--modify {
        background: #0bb5d8;
        border: 1px solid #088aa4;
        padding: 10px 20px;
        font-size: 0.8em;

        &-table {
            background: #0bb5d8;
            border: 1px solid #088aa4;
            padding: 10px 15px;
            font-size: 0.8em;

            &:hover {
                background: #E5E5E5;
                color: #088aa4;
            }

            &:active {
                background: #ccc;
                box-shadow: none;
            }
        }

        &:hover {
            background: #E5E5E5;
            color: #088aa4;
        }

        &:active {
            background: #ccc;
            box-shadow: none;
        }
    }

    &--mt20px {
        margin-top: 20px;
    }

    &--float-right {
        float: right;
    }

    &[disabled] {
        background: #ccc;
        box-shadow: none;
        cursor: not-allowed;
    }
}