.card {
    box-shadow: 0 6px 6px rgba(#000, 0.3);
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 10px;
    transition: all .2s;

    &__id {
        display: none;
    }
    
    &__header {
        display: flex;
        align-items: center;
        padding: 30px 16px;
    }

    &__separator {
        flex: 1 0 10px;
        background: #8B89B1;
        border-radius: 2px;
        padding: 16px 33%;
    }
    
    &__title {
        font-family: 'Poppins', sans-serif;
        letter-spacing: 2px;
        font-variant: small-caps;
        font-weight: 800;
        margin-bottom: 10px;
        font-size: 2em;
        line-height: 1.2;
        color: #054d60;
    }

    &__header-text {
        flex: 0 1 200px;
        margin-left: 10px;
        color: hsl(243, 20%, 42%);
        font-weight: bold;
        font-size: 0.7em;
        text-transform: uppercase;

            @media (min-width: 480px) {
            font-size: 1em;
        }
    }

    &__featured-text {
        text-align: center;
    }

    &__body {
        padding: 0 5px;
        display: flex;
        min-height: 360px;
        flex-flow: row no-wrap;
        margin-bottom: 25px;
    }

    & p {
        font-weight: 300;
        font-size: 0.7em;
        color: black;
        
        @media (min-width: 480px) {
            font-size: 1em;
        }
    }

    &__brand {
        font-size: 1.5em;
        text-transform: uppercase;
        color: #686e77;
        font-weight: 300;
        margin-bottom: 5px;
    }

    & &__price {
        font-family: 'Poppins', sans-serif;
        color: #252525;
        font-size: 1.5em;
    }

    &__half {
        padding: 0 15px;
        flex: 1 1 50%;
    }

    &__image-container {
        padding-top: 15px;
        min-width: 50%;
    }
    
    &__image {
        margin-top: 15px;
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__description {
        margin-bottom: 25px;
    }

    &__stock {
        font-family: 'Amatic SC', cursive;
        font-weight: 600;
        color: #a8c695;
        
        @media (min-width: 480px) {
            font-size: 1.5em;
        }
        
        &--empty {
            color: #d396a2;
        }
        
        &-fa {
            color: #a8c695;

            &--empty {
                color: #d396a2;
            }
        }
    }

    &__footer {
        padding: 30px 40px;
        display: flex;
        flex-flow: row no-wrap;
        align-items: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 20px;
            width: calc(100% - 40px);
            height: 3px;
            background: linear-gradient(to right, #EB9AB3 0%, #EB9AB3 20%, #F1E5DF 20%, #F1E5DF 100%);
        }
    }

    &:hover {
        transform: scale(1.05);
        transform-origin: bottom;
    }

        @media (min-width: 480px) {
        max-width: 400px;
    }
}

