.cart-item {
    position: relative;

    &__container {

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 0;
            flex-wrap: wrap;
        }
    }

    &__xmark {
        font-size: 2em;
        color: #e56972;
        position: absolute;
        right: 0;
        top: -5px;
        cursor: pointer;

        &:hover {
            color: #b25158;
        }

        &:active {
            transform: scale(1.2);
            transition: transform 100ms;
        }
    }

    &__title {
        font-size: 1.5em;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        line-height: 1.2;
        font-variant: small-caps;
        letter-spacing: 2px;
        color: #054d60;
    }

    &__price,
    &__subtotal-price {
        font-family: "Poppins", sans-serif;
        color: #252525;
    }

    &__subtotal-quote {
        font-size: 1.2em;
        font-weight: 800;
        line-height: 1.2;
        font-variant: small-caps;
        letter-spacing: 2px;
        color: #eb9ab3;
    }

    &__img {
        width: 8vh;

        @media (min-width: 768px) {
            width: 15vh;
        }
    }

    &__id {
        display: none;
    }

    &__btn {
        background-color: #8B89B1;
        color: #fff;
        border: none;
        font-weight: bold;
        padding: 5px 10px;
        font-size: 1.2em;
        cursor: pointer;
        border-radius: 5px;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: #62617d;
        }

        &:active {
            background-color: #c7c4fd;
            transform: scale(0.9);
            transition: transform 100ms;
        }
    }

    &__quantity-input {
        width: 30px;
        height: 30px;
        text-align: center;
        border: none;
    }

    &__separator {
        flex-basis: 100%;
        border-bottom: 1px solid #8b89b1;
        margin: 10px 0;
    }

    &__removed-animation {
        transform: scale(0);
        transition: transform 100ms;
    }
}