.form-container {
    border-radius: 10px;
    color: black;
    margin: 16px;
    padding: 16px 16px 32px;
    background-color: #fff;
    position: relative;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 6px rgba(#000, 0.3);

    @media (min-width: 768px) {
        margin: 16px 7%;
    }

    @media (min-width: 1024px) {
        margin: 16px 10%;
    }

    &__group {

        @media (min-width: 768px) {
            display: flex;
        }

        &--age {
            display: flex;
        }
    }

    &__title {
        font-family: 'Amatic SC', cursive;
        font-size: 2em;
        border-bottom: 1px solid #8B89B1;
        text-align: center;
        font-family: "Poppins", sans-serif;
        text-shadow: 0 2px 1px #b7788c;
        font-variant: small-caps;
        letter-spacing: 10px;
        color: #eb9ab3;

        @media (min-width: 768px) {
            font-size: 3em;
            text-align: left;
        }
    }

    &__subtitle {
        font-family: 'Amatic SC', cursive;
        font-size: 1.5em;
        text-align: center;
        margin: 10px 0px;

        @media (min-width: 768px) {
            font-size: 2em;
            text-align: left;
        }
    }

    &__separator {
        border-bottom: 1px solid #8B89B1;
        margin: 16px;
    }

    &--block {
        display: block;
    }

    &__required {
        color: #e56972;
        font-size: 0.8em;
        margin: 10px;
    }

    &__obligatory-field{
        background-color: #e56972;
        padding: 10px;
        color: #f2f2f2;
        font-weight: bold;
        margin: 0;
        margin-top: 5px;
        max-width: 226px;
        font-size: 0.8em;
    }
}

.group-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: 'Poppins', sans-serif;

    &--age {
        width: 50%;
    }

    &__label {
        text-align: center;
        margin-top: 10px;

        @media (min-width: 768px) {
            text-align: left;
        }

        &--center {
            align-self: center;
        }

        &--left {
            text-align: left;
        }
    }

    &__textarea {
        width: 200px;
        height: 150px;
        padding: 12px 20px;
        border: 2px solid #8b89b1;
        border-radius: 5px;
        resize: none;

        &:focus {
            background-color: #f2f2f2;
            outline: none;
            border: 3px solid #8b89b1;
        }

        @media (min-width: 480px) {
            width: 100%;
        }
    }

    &__input {
        margin-top: 5px;
        display: flex;
        width: 200px;
        padding: 5px 10px 0;
        border: 2px solid #fff;
        border-bottom: 2px solid #8b89b1;

        &:focus {
            border-radius: 10px;
            outline: none;
            background: #f2f2f2;
            border: 2px solid #8b89b1;
        }

        @media (min-width: 480px) {
            width: 100%;
        }

        &-age {
            display: inline;
            width: 40px;
        }

        &[type="file"] {
            border: none;
            background: none;
        }
    }
}