.message-container {
    position: fixed;
    padding: 25px;
    border-radius: 10px;
    color: white;
    z-index: 100;
    
    @media (min-width: 1024px) {
        // top: 50%;
        min-width: 100%;
    }
    
    &--success {
        top: 15%;
        background-color: #a8c695;

        @media (min-width: 1024px) {
            border-radius: 0;
            top: 0;
            z-index: 9999999999999;
        }
    }

    &--error {
        background-color: #e56972;
        z-index: 999990;
        left: 0;
        bottom: 0;
    }
}