.table-products {
    border-radius: 10px;
    font-size: 1em;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    color: black;

    @media (max-width: 768px) {
        display: block;
        width: 100%;
    }

    &__wrapper{
        margin: 0 16px
    }
    

    &__data {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
        text-align: center;
        padding: 8px;
    }

    &__row:nth-child(even) {
        background: #F8F8F8;
    }

    &__head {
        text-align: center;
        padding: 8px;
        color: #ffffff;
        background: #eb9ab3;
    }

    &__head:nth-child(odd) {
        color: #ffffff;
        background: #8b89b1;
    }

    &__footer {
        text-align: center;
        padding: 8px;
        color: #ffffff;
        background: #eb9ab3;
    }
}

@media (max-width: 768px) {
    .table-products thead, .table-products tbody, .table-products thead th {
        display: block;
    }
    .table-products thead th:last-child{
        border-bottom: none;
    }
    .table-products thead {
        float: left;
    }
    .table-products tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .table-products td, .table-products th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .table-products thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .table-products tbody tr {
        display: table-cell;
    }
    .table-products tbody tr:nth-child(odd) {
        background: none;
    }
    .table-products tr:nth-child(even) {
        background: transparent;
    }
    .table-products tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .table-products tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .table-products tbody td {
        display: block;
        text-align: center;
    }
}
.products-table-container {
    overflow: auto;
    max-width: 100%;
}