*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: url('../../img/space-5654794.png');
    background-size: contain;
    background-repeat: repeat;
    color: #f1e5df;
}