.form-container {
    border-radius: 10px;
    color: black;
    margin: 16px;
    padding: 16px 16px 32px;
    background-color: #fff;
    position: relative;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 6px rgba(#000, 0.3);

    @media (min-width: 768px) {
        margin: 16px 7%; 

        &__group {
            display: flex;
        }
    }
    @media (min-width: 1024px) {
        margin: 16px 10%;
    }
}

.group-container {
    display: flex;
    margin: 20px;
    width: 100%;

    @media (min-width: 768px) {
        // gap: 10px;
    }

    &__label--center {
        align-self: center;
    }

    &__input {
        margin-top: 5px;
        display: flex;
        width: 200px;
        padding: 5px;

        &-age {
            display: inline;
            width: 32px;
        }

        @media (min-width: 480px) {
            width: 300px;
        }
        
        @media (min-width: 1024px) {
            width: 400px;
        }
    }
}