.section-products__title {
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #8b89b1;
    margin-bottom: 16px;
    background-color: #fff;
    margin: 16px;
}