.cards-container {
    padding: 1em;

    @media (min-width: 480px) {
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.main-title {
    font-size: 1.5em;
    font-weight: 800;
    color: #fff;
    text-align: center;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    margin: 0;
    display: none;
    
    @media (min-width: 480px) {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
    @media (min-width: 768px) {
        display: none;
    }
    
    @media (min-width: 1024px) {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    &__span {
        display: inline-block;
        font-family: 'Ms Madi', cursive;
        color: #eb9ab3;
        text-shadow: 0 2px 1px #b7788c, 
        -1px 3px 1px #835664, 
        -2px 5px 1px #4f343d;
    }
}

.our-products {
    background-image: url('../img/elemental/stars-background.jpg');
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    text-shadow: 0 2px 1px #b7788c, 
        -1px 3px 1px #835664, 
        -2px 5px 1px #4f343d;
    font-variant: small-caps;
    font-size: 2em;
    letter-spacing: 10px;
    color: #eb9ab3;
    box-shadow: 0 6px 6px rgba(#000, 0.3);
    // background: #f1e5df;
    // background: linear-gradient(180deg,#ffffff 60%, #f1e5df 100%);
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    
    @media (min-width: 480px) {
        font-size: 3em;
        padding: 40px;
    }
}

.no-products {
    font-family: "Poppins", sans-serif;
    text-shadow: 0 2px 1px #b7788c, 
        -1px 3px 1px #835664, 
        -2px 5px 1px #4f343d;
    font-variant: small-caps;
    font-size: 2em;
    letter-spacing: 10px;
    color: #000;
    box-shadow: 0 6px 6px rgba(#000, 0.3);
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    
    @media (min-width: 480px) {
        font-size: 3em;
        padding: 40px;
    }
}